.experience_page {
  position: relative;
}

.experience_title {
  position: absolute;
  top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #f7f7fa;
  font-size: 2.5rem;
}

.experience_container {
  display: flex;
  gap: 20px;
  padding: 0 1rem;
  position: absolute;
  top: 40%;
}

.title {
  font-weight: 500;
}
.experience_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 0.8rem;
  background-color: #2b697a;
  color: #f7f7fa;
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: 200px;
}

.profissionalismo_description {
  background-color: #8cb1bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 0.8rem;
  color: #000000;
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: 200px;
}

.dedicacao_description {
  background-color: #bcc0c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 0.8rem;
  color: #000000;
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: 200px;
}

.backgroundExperience {
  height: 100vh;
  width: 100vw;
}
