@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

.activity_areas {
  display: flex;
  flex-direction: row-reverse;
  background-color: #faf9f8;
  font-family: "Open Sans", sans-serif;
  justify-content: space-around;
}
.activities_areas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activity_title {
  color: rgb(79, 78, 78);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}

.activities_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.activity_container {
  list-style: none;
  color: #404040;
  font-size: 1rem;
  font-weight: 600;
  height: 2.5rem;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.direito_empresarial {
  background-color: #8cb1bb;
}

.direito_empresarial:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.insolvencia {
  background-color: #bcc0c2;
}

.insolvencia:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.direito_tributario {
  background-color: #acc6dd;
}

.direito_tributario:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.direito_administrativo {
  background-color: #cccecf;
}

.direito_administrativo:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.button_services {
  width: 215px;
  background: #2b697a;
  border-radius: 8px;
  border: 1px solid #347b8f;
  padding: 10px 40px;
  color: #f7f7fa;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  box-shadow: 14px 14px 19px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 14px 14px 19px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 14px 19px -14px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.button_services:hover {
  background: #2b697a;
  background-image: -webkit-linear-gradient(top, #327588, #347b8f);
  background-image: -moz-linear-gradient(top, #327588, #347b8f);
  background-image: -ms-linear-gradient(top, #327588, #347b8f);
  background-image: -o-linear-gradient(top, #327588, #347b8f);
  background-image: linear-gradient(to bottom, #327588, #347b8f);
  text-decoration: none;
}

.activity_area-img {
  height: 100%;
  width: 400px;

  margin-left: 10px;
}
