.contacts_page {
  background-color: #f7f7fa;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.page_title {
  color: #54575a;
  font-weight: 600;
  padding: 5rem 0 0 5rem;
}

.contacts_container {
  display: flex;
}

.info_cards {
  padding: 5rem;
}

.map_container {
  width: 70%;
  padding: 5rem 1rem 1rem 0;
}

.info_container {
  display: flex;
  width: 100%;

  align-items: center;
}

.info_container:not(:last-child) {
  margin-bottom: 2rem;
}

.icon_container {
  width: 3rem;
}

.icon {
  background-color: #acc6dd;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  vertical-align: middle;
  margin: 0.5rem;
}

.social_card {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
  font-size: 30px;
  color: #acc6dd;
}

.facebook_card:hover {
  color: #4267b2;
  cursor: pointer;
}

.linkedin_card:hover {
  color: #0e76a8;
  cursor: pointer;
}
