.hero {
  width: 60%;
  background: rgba(249, 248, 247, 0.9);
  box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  color: #54575a;
  text-align: center;
  padding: 1rem;
}

.hero_title {
  font-weight: 500;
  padding-bottom: 1rem;
  margin: 0;
  font-size: 1.8rem;
}
.hero_description {
  padding: 0.5rem 1rem 1rem 1rem;
  margin: 0;
  font-size: 1rem;
}
