.contacts_page {
  background-color: #f7f7fa;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.contacts_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  border: 1px solid #8cb1bb;
}
.form_header {
  width: 180px;
}

label {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  font-size: 0.6rem;
  font-weight: 500;
}

.input_form {
  font-size: 10px;
}

.input_message {
  font-size: 10px;
  height: 60px;
}

.info_cards {
  padding: 4rem;
}

.info_container {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
  align-items: center;
  font-size: 0.6rem;
}

.icon {
  background-color: #acc6dd;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 27px;
  vertical-align: middle;
}

.social_card {
  display: flex;
  justify-content: flex-end;
  padding-right: 8%;
  gap: 10px;
  font-size: 20px;
  color: #acc6dd;
}

.facebook_card:hover {
  color: #4267b2;
  cursor: pointer;
}

.linkedin_card:hover {
  color: #0e76a8;
  cursor: pointer;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 1rem;
}
.btn_send {
  background-color: #404040;
  font-size: 0.5rem;
  color: #fff;
  border: none;
  padding: 0.3rem 0.8rem;
}

.btn_back {
  border: 1px solid #404040;
  font-size: 0.5rem;
  padding: 0.3rem 0.8rem;
}
